VITE_SUPABASE_URL=https://pfmsmwynwjpcysmxmyvb.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Trnhpv4ld4SJKdEKjz7CGA_LTSXHHH3
VITE_APP_URL=http://localhost:5173
VITE_ATTENDANCE_ENABLED=false
